body {
  font-family: "Lato", sans-serif;
}
p {
  padding: .5em 5em 0 5em;
  line-height: 2em;
  text-align: justify;
}
nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(15, 24, 43);
  overflow-x: hidden;
  padding-top: 20px;
}
nav img {
    width: 20%;
    margin: auto;
    display: block;
}
nav h1 {
  color: rgb(240, 240, 240);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
nav h2 {
    color: rgb(240, 240, 240);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
nav a {
  padding: 6px 5px 6px 30px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(180, 180, 180);
  display: block;
  border-bottom: #333 .5px solid;
}
nav a:hover {
  color: white;
  padding: 6px 5px 6px 40px;
}
main {
  margin-left: 250px;
}
section header {
  color: #333;
  padding: 5em 0 0 0;
  text-align: center;
  font-size: xx-large;
}
li {
  list-style-type: none;
  line-height: 1.5em;
}
.list {
  margin: 0 6em;
  list-style-type: square;
}
code {
  font-size: 1.2em;
  color: rgb(240, 240, 240);
  padding: 1em;
  margin: 0 5em 0 5em;
  background-color: rgb(15, 24, 43);
  
  border-radius: 5px;
  display: block;
  white-space: pre-wrap  
}
@media screen and (max-width: 900px) {
  #navbar {
    display: none;
  }
  main {
    margin-left: 0;
  }
  p {
    padding: .5em 2em 0 2em;
  }
}